
function toFloat(str) {
  return parseFloat(str)
}

function getState(data) {
  var msg = ''
  var index = data.state
  switch (index) {
    case 0:
      msg = "待支付"
      break;
    case 1:
      msg = "待发货"
      break;
    case 2:
      msg = "待收货"
      break;
    case 3:
      if(data.comment){
        msg = "已完成"
      } else{
        msg = "待评价"
      }
      break;
  }
return msg
}


module.exports = {
  toFloat: toFloat,
  getState:getState
}
